<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/sinok/IdeaProjects/Software_Testing_Fin_Proj"><classes>

    <class name="Github_blog"></class>
    <class name="Github_docs"></class>
    <class name="GithubActionsSalesPage"></class>
    <class name="GithubCopilotSalesPage"></class>
    <class name="TestHomePage"></class>
    <class name="TestRepositoryPage"></class>
    <class name="TestSignUp"></class>


</classes></test></suite>